body {
  font-family: "Josephine Sans", sans;
  font-style: normal;
  background-color: #23205c;
  color: #87cefa;
}

h1 {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2 {
  font-family: "Josephine Sans", sans;
  font-weight: <weight>;
  font-size: 1.3rem;
  font-style: normal;
}

p {
  color: #ffff33;
}

.jft {
  color: #87cefa;
}

.field {
  border: 5px solid #2e2f7c;
  border-radius: 5px;
  background-color: #2e2f7c;
  padding: 5px;
  margin: 5px;
}

textarea {
  field-sizing: content;
  appearance: none;
  color: #87cefa;
  background-color: #23205c;
  border: none;
  border-radius: 5px;
  border-color: solid #ffff33;
  resize: both;
  height: 100px;
  width: 90%;
  font-size: 1.1rem;
}

textarea:focus {
  appearance: none;
  outline: none;
  border: 2px dashed #ffff33;
  font-size: 1.1rem;
}

input[type="text"] {
  appearance: none;
  color: #87cefa;
  background-color: #23205c;
  border: none;
  border-radius: 3px;
  border-color: solid #ffff33;
  width: 90%;
  font-size: 1.1rem;
}

input[type="text"]:focus {
  appearance: none;
  outline: none;
  border-bottom: 2px dashed #ffff33;
  font-size: 1.1rem;
}

input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-color: #ffd700;
  background-color: #23205c;
}

input[type="radio"]:checked {
  background-color: #ffff33;
  border-color: 2px #ffd700;
}

#ifSoRanText {
  display: none;
}

#ifSoRanHow {
  display: none;
}

#whereAttendP {
  display: none;
}

#whereAttendText {
  display: none;
}

#whatHarmP {
  display: none;
}

#whatHarmText {
  display: none;
}

button {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: #23205c;
  background-color: #ffff33;
}
